<section>
    <div class="container">

<form action="/admin/add-docto" method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="name">Description:</label>
    <input type="text" class="form-control" name="desc" id="desc" placeholder="description">
  </div>
  <div class="form-group">
    <label for="name">Upload Profile Picture</label><br>
    <input type="file" name="fileToUpload" id="fileToUpload">
  </div>
    <input type="submit" id="submit" class="btn btn-primary">
</form>

    </div>
</section>