<section>
    <div class="container">

        <div class="row mt-4">
            <a href="/admin/add-doctor" class="btn btn-success ml-auto">Add doctor</a>
        </div>

       <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Docter id</th>
      <th scope="col">Name</th>
      <th scope="col">Pofile Picture</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  {{#each doctors}}
    <tr>
      <th scope="row">{{this._id}}</th>
      <td>{{this.name}}</td>
      <td><img style="height:50px;width:50px;" src="/images/{{this._id}}.jpg" alt=""></td>
      <td>{{this.desc}}</td>
    </tr>
   {{/each}} 
  </tbody>
</table>

    </div>
</section>